**__pycache__**
**build**
**egg-info**
**dist**
data/
output/
*.pyc
venv/
*.idea/
*.so
*.pth
*.pkl
*.zip
*.bin
output
version.py
.wandb_api.md
*.wandb_api*
.netrc
3skey.txt
runpod_api.txt
runpodctl.tar.gz
